version: '3'
services:
  #************Mongo DB***************
  database_mongo:
    #if u run backend in the docker container then use this mongo_container as host name of the mongoDB config in the application.property file
    container_name: mongo_container
    image: mongo
    ports:
      #if 27017 port is used in your system then change the first port
      - 27017:27017
    networks:
      #mongo db and spring app should be under same network to communicate each other
      - spring_mongo_angular_docker_net
  #************Backend***************
  backend_spring:
    container_name: spring_container
    image: emircajlakem/vaccathon-rest-api
    ports:
      - 9090:8888
    depends_on:
      # make sure mongo db runs first before backend starts
      - database_mongo
    networks:
      #mongo db and spring app should be under same network to communicate each other
      - spring_mongo_angular_docker_net

  #************Backend***************
  frontend_angular:
    container_name: angular_container
    image: lulzimbulica/vaccathon-frontend
    ports:
     - 80:80
    networks:
      #mongo db and spring app should be under same network to communicate each other
     - spring_mongo_angular_docker_net
networks:
  spring_mongo_angular_docker_net:
    driver: bridge
