section {
  display: table;
}

.button-row {
  display: table-cell;
  width: 490px;
}

.button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://cdn4.iconfinder.com/data/icons/typhoid-fever/205/typhoid-011-512.png');
  background-size: cover;
}
