<div *ngIf="patient" >
  <app-top-navigation
    [backText]="'Back'"
    [forwardText]="'New Vaccination'"
    [showForward]="true"
    [forwardClicked]="forwardClicked"
  ></app-top-navigation>

  <div class="row">
    <div class="col-lg-4">
      <h4> </h4>
      <mat-card>
        <mat-card-title>
          <p>{{patient.firstName}} {{patient.lastName}}</p>
        </mat-card-title>
        <mat-card-subtitle>
          <p>{{patient.nationalInsuranceNumber}}</p>
        </mat-card-subtitle>
        <mat-card-content>
          <p><i>{{patient.city}}</i></p>
          <p><i>{{patient.phone}}</i></p>
          <p><i>{{patient.email}}</i></p>
          <p><i>{{patient.birthDay | date}}</i></p>
        </mat-card-content>
      </mat-card>
    </div>
    <div  class="col-lg-8">
      <h4>History</h4>
      <ng-container *ngFor="let item of patient.vaccinationList">
        <mat-card class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title> {{item.template.type}} </mat-card-title>
          <mat-card-subtitle>{{item.template.company}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p class="no-margin"><b>Description:</b></p>
          <p>{{item.template.description}}</p>
          <p class="no-margin"><b>Doctor:</b></p>
          <p>{{item.doctor.firstName}} {{item.doctor.lastName}}</p>
          <p class="no-margin"><b>Effect duration:</b></p>
          <p>{{item.applicationDate | date}} to {{item.expirationDate | date}} </p>
        </mat-card-content>
      </mat-card>
        <br/>
      </ng-container>

    </div>
  </div>
</div>
