.mat-header-cell {
  font-size: medium;
  color: #073338;
}

.example-header-image {
  background-image: url('https://cdn4.iconfinder.com/data/icons/typhoid-fever/205/typhoid-011-512.png');
  background-size: cover;
}
